

<div *ngFor="let n of notifications">
    <div class="alert alert-info" role="alert">
        <p>{{n.title}}</p>
        <p>{{n.description}}</p>
        <button type="button" class="btn btn-success" (click)="notificationAccept(n)">Accepter</button>
        <button type="button" class="btn btn-danger" (click)="notificationRefuse(n)">Refuser</button>
    </div>
</div>

<div class="col-md-12" style="margin-bottom:50px;">
    <fieldset class="col-md-offset-1 col-md-6">
        <legend>Calendar</legend>
        
        <ul>
            <li>
                <a href="#" (click)="showDialogEditCalendar()">
                    <span>Ajouter </span>
                    <span class="glyphicon glyphicon-plus-sign" style="color: green" aria-hidden="true"></span>
                </a>
            </li>
            <li *ngFor="let c of calendars" ><a href="javascript:;" (click)="loadCalendar(c)">{{c.name}}</a></li>
        </ul>
    </fieldset>
</div>

<p-schedule [events]="evenements" [header]="header" defaultDate="2017-06-01" [eventLimit]="4" [editable]="true"
            (onDayClick)="handleDayClick($event)" (onEventClick)="handleEventClick($event)"></p-schedule>
            

<p-dialog header="Event Details" [(visible)]="dialogVisible" [responsive]="true" showEffect="fade" [modal]="false" [contentStyle]="{'overflow':'visible'}"
    [style]="{'overflow':'visible'}" [resizable]="false">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="event">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="vin">Title</label></div>
            <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="event.title" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="description">Description</label></div>
            <div class="ui-grid-col-8"><input pInputText id="description" [(ngModel)]="event.description" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="place">Place</label></div>
            <div class="ui-grid-col-8"><input pInputText id="place" [(ngModel)]="event.place" /></div>
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="type">Type</label></div>
            <div class="ui-grid-col-8">
                <p-listbox [options]="types" [(ngModel)]="event.type" ></p-listbox></div>
        </div>-->
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="start">Start</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.start" [showTime]="true"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="end">End</label></div>
            <div class="ui-grid-col-8"><p-calendar [(ngModel)]="event.end" [showTime]="true"></p-calendar></div>
        </div>
        <div class="ui-grid-row">
            <p-listbox [options]="usersList" [(ngModel)]="selectedUsers" multiple="multiple" checkbox="checkbox" filter="filter"></p-listbox>
        </div>
        <!--<div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="allday">All Day</label></div>
            <div class="ui-grid-col-8"><p-checkbox [(ngModel)]="event.allDay" binary="checkbox"></p-checkbox></div>
        </div>-->
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            
            <div *ngIf="!showCancelButton">
                <button type="button" pButton icon="fa-close" (click)="cancelEvent()" label="Cancel" [disabled]="!event?.id"></button>
            </div>

            <div *ngIf="!showCancelButton">
                <button type="button" pButton icon="fa-close" (click)="deleteEvent()" label="Delete" [disabled]="!event?.id"></button>
            </div>
            <button type="button" pButton icon="fa-check" (click)="saveEvent()" label="Save" [disabled]="!event?.start"></button>
        </div>
    </p-footer>
</p-dialog>

<p-dialog header="Ajouter Calendrier" [(visible)]="dialogEditCalendar" modal="modal" width="300" [responsive]="true">
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label for="title">Title</label></div>
        <div class="ui-grid-col-8"><input pInputText id="title" [(ngModel)]="calendar.name" /></div>
    </div>
    <div class="ui-grid-row">
        <div class="ui-grid-col-4"><label>Private</label></div>
        <p-radioButton name="calendarPrivate" [value]="true" label="Oui" [(ngModel)]="calendar.privat"></p-radioButton>
        <p-radioButton name="calendarPrivate" [value]="false" label="Non" [(ngModel)]="calendar.privat"></p-radioButton>
    </div>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="cancelCalendar()" label="Cancel"></button>
        <button type="button" pButton icon="fa-check" (click)="saveCalendar()" label="Save" [disabled]="!calendar?.name"></button>
    </p-footer>
</p-dialog>


<p-dialog header="Erreur" [(visible)]="dialogError" modal="modal" width="300" [responsive]="true">
    <p>{{errorMessage}}</p>
    <p-footer>
        <button type="button" pButton icon="fa-close" (click)="okError()" label="Close"></button>
    </p-footer>
</p-dialog>

